* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.menu {
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

h1 {
    width: 340px;
    border-bottom: 5px solid black;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    font-size: 50px;
}

li {
    width: 75%;
    list-style: none;
    /* border: 2px black solid; */
    padding: 5px;
    margin: 20% auto;
    text-align: center;
}

a {
    margin: 0 auto;
}

a, a:visited {
    text-decoration: none;
    color: rgb(173, 93, 27);
    font-weight: 700;
    font-size: 40px;
}