* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4A460;
}

.menu {
    background-color: antiquewhite;
    width: 700px;
    height: 90vh;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

h1 {
    width: 340px;
    border-bottom: 5px solid black;
    padding: 10px;
    text-align: center;
    margin: 10px auto 30px auto;
    font-size: 7vh;
    font-family: "Mea Culpa", Verdana, sans-serif;
}

li {
    width: 75%;
    list-style: none;
    /* border: 2px black solid; */
    padding: 5px;
    margin: 0 auto 20% auto;
    text-align: center;
}

a {
    margin: 0 auto;
    font-weight: 1000;
    font-size: 7vh;
    font-family: Tangerine, Verdana, sans-serif;
}

a, a:visited {
    text-decoration: none;
    color: rgb(173, 93, 27);
}

a:hover {
    color: rgb(100, 58, 24);
}